@font-face {
    font-family: "阿里妈妈刀隶体 Regular";font-weight: 400;src: url("//at.alicdn.com/wf/webfont/BJYknayKbzPb/28BLAAXso8Bw.woff2") format("woff2"),
    url("//at.alicdn.com/wf/webfont/BJYknayKbzPb/RLQ3cBwdNXt6.woff") format("woff");
    font-display: swap;
  }

/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "阿里妈妈东方大楷 Regular";font-weight: 400;src: url("//at.alicdn.com/wf/webfont/BJYknayKbzPb/Ppi3NSUzqTtQ.woff2") format("woff2"),
    url("//at.alicdn.com/wf/webfont/BJYknayKbzPb/aE0aec1ycHuv.woff") format("woff");
    font-display: swap;
  }


  .icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}